.contact {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: (1fr);
    grid-template-rows: 100px 1fr;
    justify-content: center;
    background-color: $brand-color;
    transition: 0.4s transform ease-in-out;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);
      transition: 0.4s transform ease-in-out;
    }
  }

  &-options {
    height: 100%;
    background-color: $brand-color__sec--white;
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-option {
    font-size: 2rem;
    color: $brand-color;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &.active {
      background-color: $brand-color__sec;
    }
  }

  &-content {
    padding: 20px;
    background-color: $brand-color__sec--white;
    backdrop-filter: blur(25px);
    width: 90%;
    max-width: 350px;
    margin: auto;

    text-align: center;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}
