.hero {
  height: 100%;
  width: 100%;
  background-image: url(/assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-color: $brand-color;
  background-blend-mode: overlay;
  background-color: $brand-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 5%;
  color: $brand-color__sec--white;
}
