.menuHandler {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  z-index: 1;

  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: $brand-color--accent;
    z-index: -1;
    transition: 0.35s ease-in-out;
    transform: scale(0.5);
  }
  &:hover::after,
  &.active::after {
    transform: scale(1);
  }
}
