$brand-color: hsl(225, 54%, 14%);

$brand-color__light: hsl(193, 98%, 55%);

$brand-color__accent: hsl(243, 78%, 68%);

$brand-color__sec: hsl(10, 82%, 48%);

$brand-color__sec--white: hsl(270, 100%, 97%);
